.badge {
  position: relative;
  display: inline-block;

  font-weight: 600;
  font-size: 12px;
  line-height: 180%;

  color: var(--color-white);
  background: var(--color-pink-500);

  padding: 1px 16px;
  border-radius: 100px;

  &--small {
    font-size: 11px;
    padding: 0 12px;
  }

  &--soft {
    color: var(--color-pink-500);
    background: var(--color-pink-100);
  }
}