.button {
  display: inline-block;
  font-weight: 500;
  line-height: 24px;

  &--main {
    color: var(--color-white);
    background-color: var(--button-main);

    &:hover {
      background-color: var(--button-main-hover);
    }

    &:active {
      background-color: var(--button-main-active);
    }
  }

  &--soft {
    color: var(--button-soft-text);
    background-color: var(--button-soft);

    &:hover {
      background-color: var(--button-soft-hover);
    }

    &:active {
      background-color: var(--button-soft-active);
      border: 2px solid var(--button-soft-border);
    }
  }

  &--outline {
    color: var(--button-outline-text);
    background-color: var(--button-outline);
    border: 1px solid var(--button-outline-border);

    &:hover {
      background-color: var(--button-outline-active);
    }

    &:active {
      background-color: var(--button-outline-active);
      border: 2px solid var(--button-outline-border);
    }

    &:disabled {
      background-color: var(--color-white);
    }
  }

  &--text {
    color: var(--button-outline-text);
    background-color: inherit;

    &:hover {
      background-color: var(--button-outline);
    }

    &:active {
      background-color: var(--button-outline);
      border: 2px solid var(--button-outline-border);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--large {
    font-size: 16px;
    padding: 14px 32px;
    border-radius: 8px;
  }

  &--medium {
    font-size: 14px;
    border-radius: 6px;
    padding: 8px 24px;
  }

  &--small {
    font-size: 14px;
    border-radius: 6px;
    padding: 6px 20px;
  }
}