@import "./src/styles/share";
@import "./src/styles/utils/fonts";
@import "./src/styles/utils/typography";
@import "./src/styles/utils/colors";
@import "./src/styles/utils/theme-dark";
@import "./src/styles/Components/Button";
@import "./src/styles/Components/Badge";

html {
  --title-color: var(--color-grayscale-900);
  --overline-color: var(--color-indigo-500);
  --menu-color: var(--color-grayOpacity-72);
  --button-main: var(--color-indigo-500);
  --button-main-hover: var(--color-indigo-600);
  --button-main-active: var(--color-indigo-700);
  --button-soft: var(--color-indigo-50);
  --button-soft-text: var(--color-indigo-500);
  --button-soft-border: var(--color-indigo-200);
  --button-soft-hover: var(--color-indigo-100);
  --button-soft-active: var(--color-indigo-100);
  --button-outline: var(--color-white);
  --button-outline-text: var(--color-grayscale-900);
  --button-outline-border: var(--color-grayOpacity-12);
  --button-outline-active: var(--color-grayOpacity-4);
  --logo-color: var(--color-grayscale-900);
  --footer-links: var(--color-grayOpacity-56);
  --footer-links-hover: var(--color-grayOpacity-72);
  --theme-btn: var(--color-grayscale-900);
  --body-color: var(--color-grayOpacity-56);
  --background-color: var(--color-white);
  --header-bg: linear-gradient(248.66deg, #FFF1F1 0%, #E9F8FB 100%);
  --section-indigo: var(--color-indigo-50);
  --team-card-bg: var(--color-white);
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;

  font-weight: 400;
  font-size: 1rem;
  line-height: 180%;

  color: var(--body-color);
  background: var(--background-color);

  transition: color .2s ease-out;

  * {
    box-sizing: border-box;

    &::after,
    &::before {
      box-sizing: border-box;
    }
  }
}

#root {
  position: relative;
  width: 100%;
}

button {
  border: inherit;
  color: inherit;
  cursor: pointer;
  background: inherit;
}

.buttons-group {
  display: flex;

  & >:not(:last-child) {
    margin-right: 1rem;
  }
}