@import "./src/styles/share";
@import "./src/styles/utils/fonts";
@import "./src/styles/utils/typography";
@import "./src/styles/utils/colors";
@import "./src/styles/Components/Button";
@import "./src/styles/Components/Badge";
@import "./src/styles/Components/Card";

html {
  &[data-theme-style='dark-theme'] {

  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;

  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.25rem;

  color: var(--color);
  background: var(--background-color);

  * {
    box-sizing: border-box;

    &::after,
    &::before {
      box-sizing: border-box;
    }
  }
}

#root {
  position: relative;
  width: 100%;
}

button, .button {
  border: inherit;
  color: inherit;
  cursor: pointer;
  background: inherit;
}

.buttons-group {
  display: flex;

  & >:not(:last-child) {
    margin-right: 1rem;
  }
}