@import "../../styles/index";

.header {
  position: relative;
  width: 100%;

  &__container {
    width: 1128px;
    margin: 0 auto;
  }

  &__present-block {
    position: relative;
    width: 46.5rem;
    margin: 0 auto;
    text-align: center;
  }

  &__main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.188rem 0;
  }

  &__buttons-container {
    margin-top: 1.5rem;
  }

  &--blue-gradient {
    position: relative;

    background-image: url("../../../static/images/Promo/1.png");
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      clip-path: polygon(100% 50%, 100% 100%, 0 100%);
      shape-outside: polygon(100% 50%, 100% 100%, 0 100%);
      background: $color-white;
    }
  }

  &__image-concept {
    position: relative;
    margin: 0 auto;
    width: 58.5rem;
    height: 36.563rem;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(0 1.25rem 5rem rgb(0 0 0 / 8%));
      border-radius: 1.25rem;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1.75rem 0;

  &__buttons {
    display: flex;
    margin-left: auto;
  }

  &__menu {
    margin-left: 3rem;
  }
}

.logo {
  width: 6.375rem;
  height: 2.5rem;

  &__link {
    display: block;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  &__item:not(:last-child) {
    margin-right: 3rem;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title {
    width: 46.5rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    width: 40.625rem;
  }
}

.section {
  position: relative;
  padding: 6.125rem 0;

  &__wrapper {
    width: 70.5rem;
    margin: 0 auto;
  }
}

.features-block {
  &__heading {
    width: 37.75rem;
    margin-bottom: 2.5rem;
  }

   &__auxiliary-text {
     margin-bottom: 0.5rem;
   }

  &__card-list {
    display: flex;
    justify-content: space-between;

    &>div {
      width: calc(70.5rem / 4.3);
    }
  }
}

.feature-card {
  position: relative;

  width: 22.5rem;

  border: 0.063rem solid rgba(18, 17, 39, 0.12);
  border-radius: 0.75rem;

  &__wrapper {
    padding: 3.5rem 1.5rem;
  }

  &__head {
    margin-bottom: 1rem;
  }

  &__icon {

    margin-bottom: 1.5rem;

    img {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }

  &__title {
    color: #121127;
  }

  &__text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 180%;
    color: rgba(18, 17, 39, 0.56);
  }

  &__button {
    margin-top: 1.5rem;
  }
}

.technology-block {

  &__head {
    display: flex;
    justify-content: space-between;

    padding-bottom: 4.063rem;
  }

  &__info {
    width: 28.5rem;
  }

  &__auxiliary-text {
    margin-bottom: 0.5rem;
  }

  &__title {
    margin-bottom: 1.25rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 180%;

    color: rgba(18, 17, 39, 0.56);
  }

  &__button {
    margin-top: 2.25rem;
  }

  &__image-container {
    display: block;
    width: 34.5rem;
    height: 19.438rem;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../static/images/Promo/3.jpg);
    box-shadow: 0 0.5rem 1.25rem rgba(18, 17, 39, 0.1);
    border-radius: 1rem;

  }

  &__body {
    padding-top: 4.5rem;
  }

  &__sub-title {
    text-align: center;
    margin-bottom: 3.125rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

hr {
  position: relative;
  width: 100%;
  height: 0.063rem;
  background: rgba(18, 17, 39, 0.12);
  margin: 0;
}

.footer {
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    width: 70.5rem;
    margin: 0 auto;
    padding: 3rem 0;
  }

  &__copyright {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 180%;
  }

  &__media-list {
    display: flex;
    align-items: center;

    &>:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__media-item {
    display: block;
    width: 1.25rem;
    height: 1.25rem;

    img {
      display: block;
      object-fit: cover;

      width: 100%;
      height: auto;
    }
  }
}

.cta {
  background: #F2F3FF;

  &__container {
    width: 46.5rem;
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 1.25rem;
  }

  &__button {
    margin-top: 1.25rem;
  }
}