@import "../../styles/index";

.page {
  &--promo {
    .section {
      position: relative;
      padding: 95px 0;

      &__wrapper {
        width: 1128px;
        margin: 0 auto;
      }

      &--indigo {
        background: var(--section-indigo);
      }

      @media (max-width: map-get($breakpoints, desktop)) {
        padding: 65px 0;

        &__wrapper {
          width: 100%;
        }
      }
    }

    .cta-6 {
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__image-block {
        flex-shrink: 0;
        width: 552px;
        height: 425px;

        img {
          display: block;
          width: 100%;
          height: 100%;

          border-radius: 24px;
          filter: drop-shadow(0px 20px 50px rgba(18, 17, 39, 0.08));
        }
      }

      &__info-block {
        width: 456px;
      }

      &__subtitle {
        margin-bottom: 4px;
      }

      &__text {
        font-size: $body-lg;
      }

      &__title {
        margin-bottom: 24px;
      }

      &__button {
        margin-top: 24px;
      }
      
      @media (max-width: map-get($breakpoints, desktop)) {
        &__container {
          flex-direction: column;
          align-items: start;
        }

        &__image-block {
          width: 100%;
          height: auto;

          img {
            border-radius: 0;
          }
        }

        &__info-block {
          width: 100%;
          padding: 40px 20px 0;
        }
      }
    }

    .cta-2 {
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__info-block {
        width: 456px;
      }

      &__image-block {
        width: 552px;

        img {
          display: block;
          width: 100%;

          border-radius: 20px;
          filter: drop-shadow(0px 8.35px 20.875px rgba(18, 17, 39, 0.08));
        }
      }

      &__text {
        font-size: $body-lg;
      }

      &__title {
        margin-bottom: 20px;
      }

      &__button {
        margin-top: 20px;
      }

      @media (max-width: map-get($breakpoints, desktop)) {
        &__container {
          flex-direction: column-reverse;
          align-items: start;
        }

        &__image-block {
          width: 100%;
          padding: 0 20px 20px;
        }

        &__info-block {
          width: 100%;
          padding: 20px 20px 0;

          img {
            border-radius: 8px;
          }
        }
      }
    }

    .feature-05 {
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__info-block {
        width: 552px;
      }

      &__section {
        &:not(:last-child) {
          margin-bottom: 64px;
        }
      }

      &__subtitle {
        margin-bottom: 8px;
      }

      &__title {
        margin-bottom: 16px;
      }

      &__button {
        margin-top: 24px;
      }
      
      &__card-list {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;

        & > div {
          width: 100%;
        }
      }

      &__image-block {
        width: 552px;
      }

      @media (max-width: map-get($breakpoints, desktop)) {
        &__container {
          flex-direction: column-reverse;
        }

        &__section:not(:last-child) {
          margin-bottom: 56px;
        }

        &__info-block {
          width: 100%;
          padding: 0 20px;
        }

        &__image-block {
          width: 100%;
          padding: 0 20px;
          margin-bottom: 65px;
        }
      }

      @media (max-width: map-get($breakpoints, tablet)) {
        &__card-list {
          grid-template-columns: 1fr;
        }
      }
    }

    .card {
      position: relative;
      border-radius: 12px;

      &__icon {
        position: relative;
        width: 32px;
        height: 32px;

        margin-bottom: 24px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &__title {
        margin-bottom: 16px;
      }

      &__button {
        color: var(--color-indigo-500);

        padding: 0;
        margin-top: 24px;
      }
    }

    .object-1 {
      position: relative;

      &__body {
        position: relative;
        background: #FFFFFF;
        width: fit-content;
        margin: 0 auto;
        box-shadow: 32px 51px 84px rgba(111, 118, 138, 0.156863);
        border: 13px solid white;
        border-radius: 33.4681px;

        &:before {
          position: absolute;
          content: "";
          width: 35px;
          height: 35px;
          background: var(--color-grayscale-700);
          border-radius: 50%;
          bottom: 20px;
          right: -100px;
        }

        &:after {
          position: absolute;
          content: "";
          top: 225px;
          left: -100px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: var(--color-blue-200);
        }
      }

      &__main-image {
        width: 264.78px;
        height: 573.63px;
        background-image: url("../../../static/images/Promo/feature-05-1.png");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &__shadow {
        position: absolute;
        left: -40px;
        top: -40px;

        width: calc(100% + 13px * 2);
        height: calc(100% + 13px * 2);

        mix-blend-mode: normal;
        opacity: 0.62;

        z-index: -1000;

        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;

          background: var(--color-grayscale-500);
          mix-blend-mode: normal;

          opacity: 0.12;
          border-radius: 22.312px;
        }
      }

      &__charts-image-container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top:65%;
        left: 50%;
        transform: translate(-50%, -70%);
      }

      &__charts-image {
        height: 160px;

        background-repeat: no-repeat;
        background-size: contain;

        &:nth-child(1){
          position: relative;
          width: 153.41px;
          margin-right: 26px;
          background-image: url("../../../static/images/Promo/feature-05-2.png");

          box-shadow: 30px 22px 47px rgba(111, 118, 138, 0.156863);
        }

        &:nth-child(2) {
          position: relative;
          width: 232.11px;
          background-image: url("../../../static/images/Promo/feature-05-3.png");


          filter: drop-shadow(-15px 24px 78px rgba(111, 118, 138, 0.156863));
          box-shadow: -15px 24px 78px rgba(111, 118, 138, 0.156863);
          border-radius: 13px;
        }
      }

      @media (max-width: map-get($breakpoints, tablet)) {
        &__charts-image {

          &:nth-child(1) {
            width: 93.1px;
            height: 97.1px;
          }

          &:nth-child(2) {
            width: 140.87px;
            height: 97.1px;
          }
        }

        &__main-image {
          width: 176.69px;
          height: 364.13px;
        }

        &__body {

          &:before {
            width: 21.24px;
            height: 21.24px;
            right: -50px;
            bottom: 10px;
          }

          &:after {
            width: 9.1px;
            height: 9.1px;
            top: 150px;
            left: -57px;
          }
        }
      }
    }

    .footer {
      position: relative;
      padding: 48px 0;

      &__wrapper {
        width: 1128px;
        margin: 0 auto;
      }

      &__content {
        display: flex;
        justify-content: space-between;
      }

      &__copy {
        font-size: $body-sm;
      }

      &__links {
        display: flex;
        align-items: center;
      }

      &__link-item {
        display: block;
        width: 20px;
        height: 20px;

        &:not(:last-child) {
          margin-right: 32px;
        }

        &:hover {
          svg {
            fill: var(--footer-links-hover);
          }
        }

        svg {
          display: block;
          width: 100%;
          height: 100%;
          fill: var(--footer-links);
        }
      }

      @media (max-width: map-get($breakpoints, desktop)) {
        padding: 48px 20px;

        &__wrapper {
          width: 100%;
        }
      }

      @media (max-width: map-get($breakpoints, tablet)) {
        &__content {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        &__links {
          margin-top: 32px;
        }
      }
    }

    .team {
      &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 552px;
        margin: 0 auto;
      }

      &__subtitle {
        margin-bottom: 12px;
      }

      &__title {

      }

      &__body {
        margin-top: 48px;
      }

      &__list {
        display: grid;
        gap: 24px;
        grid-template-columns: 360px 360px;
        justify-content: center;
      }

      @media (max-width: map-get($breakpoints, desktop)) {
        &__container {
          padding: 0 20px;
        }

        &__header {
          width: 100%;
        }

        &__list {
          grid-template-columns: 300px 300px;
          justify-content: center;
        }
      }

      @media (max-width: map-get($breakpoints, tablet)) {
        &__list {
          grid-template-columns: 280px;
        }
      }
    }

    .team-card {
      position: relative;
      display: flex;
      flex-direction: column;
      background: var(--team-card-bg);
      box-shadow: 0 20px 50px rgba(18, 17, 39, 0.08);
      border-radius: 12px;

      &__avatar {
        width: 100%;
        height: 100%;
        border-radius: 12px 12px 0 0;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      &__content {
        padding: 24px;
      }

      &__name {
        margin-bottom: 4px;
      }

      &__position {
        font-size: $body-md;
      }
    }

    .header {
      position: relative;
      width: 100%;

      background: var(--header-bg);

      &__wrapper {
        width: 1128px;
        height: 100%;
        margin: 0 auto;
      }

      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 0 100px;
      }

      &__info {
        width: 456px;
      }

      &__title {
        margin-bottom: 12px;
      }

      &__text {
        font-size: $body-xl;
      }

      &__buttons {
        margin-top: 24px;

        & > button:not(:last-child) {
          margin-right: 16px;
        }
      }

      &__image {
        position: relative;
        width: 501px;
        height: 635px;

        background-image: url("../../../static/images/Promo/header.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      @media (max-width: map-get($breakpoints, desktop)) {
        &__wrapper {
          width: 100%;
        }

        &__container {
          flex-direction: column-reverse;
          padding: 35px 20px 50px;
        }

        &__image {
          width: 100%;
        }

        &__info {
          width: 100%;
          margin-top: 50px;
        }
      }

      @media (max-width: map-get($breakpoints, tablet)) {
        &__image {
          height: 320px;
        }

        &__buttons {
          display: flex;
          flex-direction: column;

          & > button:not(:last-child) {
            margin-right: 0;
            margin-bottom: 12px;
          }
        }
      }
    }
    
    .navbar {
      position: relative;
      width: 100%;

      &__wrapper {
        width: 1128px;
        margin:0 auto;
        padding: 33px 0;
      }

      &__content {
        display: flex;
        align-items: center;
      }

      &__logo {
        display: block;
        width: 88px;
        height: 36px;

        svg {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      
      &__menu {
        display: flex;
        margin-left: 48px;
      }
      
      &__menu-item {
        display: block;
        font-size: $body-md;

        color: var(--menu-color);
        text-decoration: none;

        &:not(:last-child) {
          margin-right: 48px;
        }
      }

      @media (max-width: map-get($breakpoints, desktop)) {
        &__wrapper {
          width: 100%;
          padding: 33px 20px;
        }
      }

      @media (max-width: map-get($breakpoints, tablet)) {
        &__content {
          flex-direction: column;
        }

        &__menu {
          flex-direction: column;
          text-align: center;
          margin-top: 33px;
          margin-left: 0;
        }

        &__menu-item {
          &:not(:last-child) {
            margin: 0 0 16px;
          }
        }
      }
    }
  }
}