$color-grayscale--900: #121127;
$color-grayscale--800: #201F37;
$color-grayscale--700: #383751;
$color-grayscale--600: #4C4B63;
$color-grayscale--500: #6C6B80;
$color-grayscale--400: #9D9CAF;
$color-grayscale--300: #D1D1DB;
$color-grayscale--200: #E5E5EB;
$color-grayscale--100: #F3F3F6;
$color-grayscale--50: #F9F9FB;

$color-indigo--900: #1E149D;
$color-indigo--800: #2D2CB0;
$color-indigo--700: #3638BC;
$color-indigo--600: #3F43C8;
$color-indigo--500: #444BD3;
$color-indigo--400: #6068DB;
$color-indigo--300: #878DE8;
$color-indigo--200: #B4B7F0;
$color-indigo--100: #DEE0F;
$color-indigo--50: #F2F3FF;

$color-purple--900: #4C1D95;
$color-purple--800: #5B21B6;
$color-purple--700: #6D28D9;
$color-purple--600: #7C3AED;
$color-purple--500: #8B5CF6;
$color-purple--400: #A78BFA;
$color-purple--300: #C4B5FD;
$color-purple--200: #DDD6FE;
$color-purple--100: #EDE9FE;
$color-purple--50: #F5F3FF;

$color-blue--900: #3E399B;
$color-blue--800: #4559BD;
$color-blue--700: #496AD0;
$color-blue--600: #4C7CE5;
$color-blue--500: #4E8AF4;
$color-blue--400: #599BF9;
$color-blue--300: #6EADFC;
$color-blue--200: #94C5FF;
$color-blue--100: #BDE3FF;
$color-blue--50: #E1F5FF;

$color-yellow--900: #F25722;
$color-yellow--800: #FC7125;
$color-yellow--700: #FF8127;
$color-yellow--600: #FF9129;
$color-yellow--500: #FF9E2A;
$color-yellow--400: #FFAC3D;
$color-yellow--300: #FFBC5D;
$color-yellow--200: #FFD89F;
$color-yellow--100: #FFE7C7;
$color-yellow--50: #FFF4E6;

$color-green--900: #064E3B;
$color-green--800: #065F46;
$color-green--700: #047857;
$color-green--600: #059669;
$color-green--500: #10B981;
$color-green--400: #34D399;
$color-green--300: #6EE7B7;
$color-green--200: #A7F3D0;
$color-green--100: #D1FAE5;
$color-green--50: #ECFDF5;

$color-cyan--900: #2A7576;
$color-cyan--800: #339AA2;
$color-cyan--700: #38AEBA;
$color-cyan--600: #3EC4D5;
$color-cyan--500: #43D6E8;
$color-cyan--400: #4EDCEB;
$color-cyan--300: #67E4EF;
$color-cyan--200: #90ECF4;
$color-cyan--100: #BBF3F7;
$color-cyan--50: #E4FAFC;

$color-red--900: #7F1D1D;
$color-red--800: #991B1B;
$color-red--700: #B91C1C;
$color-red--600: #DC2626;
$color-red--500: #EF4444;
$color-red--400: #F87171;
$color-red--300: #FCA5A5;
$color-red--200: #FECACA;
$color-red--100: #FEE2E2;
$color-red--50: #FEF2F2;

$color-pink--900: #831843;
$color-pink--800: #9D174D;
$color-pink--700: #BE185D;
$color-pink--600: #DB2777;
$color-pink--500: #EC4899;
$color-pink--400: #F472B6;
$color-pink--300: #F9A8D4;
$color-pink--200: #FBCFE8;
$color-pink--100: #FCE7F3;
$color-pink--50: #FDF2F8;

$color-whiteOpacity--72: rgba(255, 255, 255, 0.72);
$color-whiteOpacity--56: rgba(255, 255, 255, 0.56);
$color-whiteOpacity--48: rgba(255, 255, 255, 0.48);
$color-whiteOpacity--40: rgba(255, 255, 255, 0.4);
$color-whiteOpacity--32: rgba(255, 255, 255, 0.32);
$color-whiteOpacity--24: rgba(255, 255, 255, 0.24);
$color-whiteOpacity--20: rgba(255, 255, 255, 0.2);
$color-whiteOpacity--16: rgba(255, 255, 255, 0.16);
$color-whiteOpacity--12: rgba(255, 255, 255, 0.12);
$color-whiteOpacity--8: rgba(255, 255, 255, 0.08);
$color-whiteOpacity--4: rgba(255, 255, 255, 0.04);

$color-grayOpacity--72: rgba(18, 17, 39, 0.72);
$color-grayOpacity--56: rgba(18, 17, 39, 0.56);
$color-grayOpacity--48: rgba(18, 17, 39, 0.48);
$color-grayOpacity--40: rgba(18, 17, 39, 0.4);
$color-grayOpacity--32: rgba(18, 17, 39, 0.32);
$color-grayOpacity--24: rgba(18, 17, 39, 0.24);
$color-grayOpacity--20: rgba(18, 17, 39, 0.2);
$color-grayOpacity--16: rgba(18, 17, 39, 0.16);
$color-grayOpacity--12: rgba(18, 17, 39, 0.12);
$color-grayOpacity--8: rgba(18, 17, 39, 0.08);
$color-grayOpacity--4: rgba(18, 17, 39, 0.04);